<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title != 'undefined' ? title: 'Cexec Cafe Website' %>
    </title>

    <!--
    -bootstrap css link 
  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://db.onlinewebfonts.com/c/a7f8f677be6d7516cf222d55db7a456b?family=Sofachrome+W05+Book"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <!--
    - custom css link 
  -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body id="top">
    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
      <div class="container">
        <h1>
          <a href="#" class="logo sofachrome"
            >CEXEC Cofee<span class="span">.</span></a
          >
        </h1>

        <nav class="navbar" data-navbar>
          <ul class="navbar-list">
            <li class="nav-item">
              <a href="#home" class="navbar-link" data-nav-link>Home</a>
            </li>

            <li class="nav-item">
              <a href="#about" class="navbar-link" data-nav-link>About Us</a>
            </li>

            <li class="nav-item">
              <a href="#food-menu" class="navbar-link" data-nav-link>Cafe</a>
            </li>

            <li class="nav-item">
              <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
            </li>

            <li class="nav-item">
              <a href="#" class="navbar-link" data-nav-link>Contact Us</a>
            </li>
          </ul>
        </nav>

        <div class="header-btn-group">
          <button class="search-btn" aria-label="Search" data-search-btn>
            <ion-icon name="search-outline"></ion-icon>
          </button>

          <button class="btn btn-hover">Order Now</button>

          <button
            class="nav-toggle-btn"
            aria-label="Toggle Menu"
            data-menu-toggle-btn
          >
            <span class="line top"></span>
            <span class="line middle"></span>
            <span class="line bottom"></span>
          </button>
        </div>
      </div>
    </header>

    <!-- 
    - #SEARCH BOX
  -->

    <div class="search-container" data-search-container>
      <div class="search-box">
        <input
          type="search"
          name="search"
          aria-label="Search here"
          placeholder="Type keywords here..."
          class="search-input"
        />

        <button
          class="search-submit"
          aria-label="Submit search"
          data-search-submit-btn
        >
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>

      <button
        class="search-close-btn"
        aria-label="Cancel search"
        data-search-close-btn
      ></button>
    </div>

    <!--
        - #HOME SECTION
      -->

    <main><%- body -%></main>

    <!-- 
    - #FOOTER
  -->

    <footer class="footer">
      <div
        class="footer-top"
        style="background-image: url('./assets/images/footer-illustration.png')"
      >
        <div class="container">
          <div class="footer-brand">
            <a href="" class="logo"
              >Cofee & Icecream <span class="span">.</span></a
            >

            <p class="footer-text">
              Financial experts support or help you to to find out which way you
              can raise your funds more.
            </p>

            <ul class="social-list">
              <li>
                <a
                  href="https://www.facebook.com/people/CEXEC-Premium-Coffee-Ice-cream/61552037284343/"
                  class="social-link"
                >
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-tiktok"></ion-icon>
                </a>
              </li>

              <li>
                <a
                  href="https://www.instagram.com/cexec.coffee/"
                  class="social-link"
                >
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="https://wassap.my/017-4193184" class="social-link">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
              </li>
            </ul>
          </div>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Contact Info</p>
            </li>

            <li>
              <p class="footer-list-item">017-419 3184</p>
            </li>

            <li>
              <p class="footer-list-item">cexec.cofee@Gmail.com</p>
            </li>

            <li>
              <address class="footer-list-item">
                61A Jalan Shahbandar 2, Persiaran Bertam Perdana 3, 13200 Kepala
                Batas, Pulau Pinang
              </address>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Opening Hours</p>
            </li>

            <li>
              <p class="footer-list-item">Everyday: 11:00 - 22:00</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <p class="copyright-text">
            &copy; 2024
            <a href="#" class="copyright-link">Cexec Seven Leo Enterprise</a>
            All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>

    <!-- 
    - #BACK TO TOP
  -->

    <a
      href="#top"
      class="back-top-btn"
      aria-label="Back to top"
      data-back-top-btn
    >
      <ion-icon name="chevron-up"></ion-icon>
    </a>

    <!-- 
    - custom js link
  -->
    <script src="/js/script.js"></script>
    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
