
      <section  class="home home-bg" id="home">

        <div class="home-left">

          <h1 class="home-heading rubik">We do not cook, we create your emotions!</h1>

          <p class="home-text rubik">
            Consectetur numquam poro nemo veniam eligendi rem adipisci quo modi
          </p>

          <div class="home btn-group">

            <button class=" homebtn homebtn-primary btn-icon">
              <img src="img/home/cup-hot.svg" alt="menu icon">
              Our menu
            </button>

            <button class="homebtn homebtn-secondary btn-icon">
              <img src="img/home/arrow.svg" alt="menu icon">
              About us
            </button>

          </div>

          </div>

        </div>

        <div class="home-right">

          <img src="img/home/dessert4.png" alt="food image" class="food-img food-1" width="200" loading="lazy">
          <img src="img/home/dessert2.png" alt="food image" class="food-img food-2" width="200" loading="lazy">
          

          <img src="img/home/circle.svg" alt="circle shape" class="shape shape-1" width="25">
          <img src="img/home/circle.svg" alt="circle shape" class="shape shape-2" width="15">
          <img src="img/home/circle.svg" alt="circle shape" class="shape shape-3" width="30">
          <img src="img/home/ring.svg" alt="ring shape" class="shape shape-4" width="60">
          <img src="img/home/ring.svg" alt="ring shape" class="shape shape-5" width="40">

        </div>

        
        


        <% if(menu != '') { %>
          
        <% } %>

      
      </section>


   
    

