
      <section  class="home home-bg" id="home">

        <div class="home-left">

          <h1 class="home-heading rubik">We do not cook, we create your emotions!</h1>

          <p class="home-text rubik">
            Consectetur numquam poro nemo veniam eligendi rem adipisci quo modi
          </p>

          <div class="home btn-group">

            <button class=" homebtn homebtn-primary btn-icon">
              <img src="img/home/cup-hot.svg" alt="menu icon">
              Our menu
            </button>

            <button class="homebtn homebtn-secondary btn-icon">
              <img src="img/home/arrow.svg" alt="menu icon">
              About us
            </button>

          </div>

          </div>

        </div>

        <div class="home-right">

          <img src="img/home/dessert4.png" alt="food image" class="food-img food-1" width="200" loading="lazy">
          <img src="img/home/dessert2.png" alt="food image" class="food-img food-2" width="200" loading="lazy">
          

          <img src="img/home/circle.svg" alt="circle shape" class="shape shape-1" width="25">
          <img src="img/home/circle.svg" alt="circle shape" class="shape shape-2" width="15">
          <img src="img/home/circle.svg" alt="circle shape" class="shape shape-3" width="30">
          <img src="img/home/ring.svg" alt="ring shape" class="shape shape-4" width="60">
          <img src="img/home/ring.svg" alt="ring shape" class="shape shape-5" width="40">

        </div>

      
      </section>

      <section id="menu">
        <div>
          <% if( menu != '') { %>

              <div class="d-flex position-relative justify-content-center text-center mb-3 mb-md-5">
                  <div class="col-lg-8 col-xxl-7">
                      <span class="text-muted">Hot items</span>
                      <h1 class="display-5 fw-bold">Today's Special</h1>
                  </div>
                  <div class="d-flex p-4 position-absolute gap-2 end-0">
                      <button class="btn btn-outline-warning rounded-circle" data-bs-slide="prev" data-bs-target="#galleryCarouse1" type="button"><i class="bi bi-arrow-left"></i></button> 
                      <button class="btn btn-outline-warning rounded-circle" data-bs-slide="next" data-bs-target="#galleryCarouse1" type="button"><i class="bi bi-arrow-right"></i></button>    
                  </div>
              </div>

              <% menu.forEach(item => { %>
                
              <div class="carousel slide container pointer-event" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="5000" id="galleryCarouse1">
                  <div class="carousel-inner px-5">
                      <div class="carousel-item active">
                          <div class="row g-3 gap-2 flex-nowrap">
                              <div class="card col-md-3">
                                  <div class="d-flex pt-2 position-relative align-items-center gap-4">
                                      <img alt="..." src="assets/item-1.jpg" class="img-thumbnail rounded-circle" width="80" height="80">
                                      <div class="d-flex flex-column">
                                          <h3 class="card-title text-base font-semibold"><%-item.name  %></h3>
                                          <span class="text-muted">Long and Twisted</span>
                                      </div>
                                  </div>
                                  <div class="card-body d-flex flex-column position-relative">
                                      <span class="text-muted mb-0">Price</span>
                                      <span class="price text-warning fs-5 fw-semibold">RM <%-item.price  %></span>
                                      <button class="add-to-cart btn btn-warning position-absolute bottom-0 end-0 translate-middle">+</button>
                                  </div>
                              </div>
                              
                          </div>
                      </div>

                  </div>
              </div>


            <% }); } else { %>
              <p>No item found.</p>
            <% } %>

        </div>
      
       

      </section>

   
    

